*{
    margin:0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-evenly;
    height:52vh;
}
.intro-text{
    width:50%;
    background-color: black;
    color:#04C4D9;
    font-size: 40px;
    align-content: center;
    justify-items: center;
    h1{
        text-align:center;
    }
}
button{
    padding: 1.5em 8em;
    border-radius: 50px;
    border:none;
    margin-top: 10%;
    a{
        text-decoration: none;
        color:#cbaef2;
        font-weight: bolder;
        font-size: 25px;
    }
}
.owner{
    color:white;
    font-size: 25px;
    margin-top: 5%;
}
.purple-bg{
    width:50%;
    padding-left: 12%;
    background-color: #cbaef2;
    align-content: center;
    justify-items: center;
    img{
        display: block;
        max-width:80%;
        max-height:100%;
        border-radius: 20px;
    }
    img:hover{
        transform: scale(1.1);
    }
}

.main{
    display:flex;
    justify-content: space-evenly;
    font-size: 23px;
    height:48vh;
}
.left-paragraph, .right-paragraph{
    width:50%;
    padding: 2%;
    line-height: 1.4;
}
.left-paragraph{
    border:10px solid #cbaef2;
    overflow: auto;
}
.right-paragraph{
        border:10px solid #000000;
        margin-top: -6%;
        background-color: white;
        border:10px solid #cbaef2;
        overflow: auto;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        h3{
            color:#04C4D9;
            font-family: kugile;
            text-align: center;
            padding: 5%;
        }
}
footer{
    padding:0.5%;
    background-color: #cbaef2;
    text-align: center;
    font-family: kugile;
}
mark{
    background-color: #cbaef2;
}

::-webkit-scrollbar{
    display:none;
}
@font-face {
    font-family: 'kugile';
    src: url('Fonts/Kugile_Demo.ttf');
}

@media only screen and (max-width:900px){
    .header{
        height:auto;
        flex-direction: column;
    }
    .intro-text{
        padding: 20px;
        h1{
            font-size: 35px;
        }
        button{
            padding:0.6em 4em;
        }
    }
    .owner{
        font-size: 18px;
    }
    .intro-text, .purple-bg{
        width:100%;
    }
    .purple-bg{
        padding-top:20px;
        padding-bottom:20px;

    }
    .main{
        height: auto;
        flex-direction: column;
    }
    .left-paragraph, .right-paragraph{
        width:100%;
    }
    .left-paragraph{
        border:5px solid #cbaef2;
   .right-paragraph{
        margin-top: 5%;
        border: none;
    }
}
}

@media only screen and (min-width:905px) and (max-width:1000px){
    .intro-text{
        h1{
            font-size: 50px;
        }
    }
}
